<% if post.comments.count > 0 %>
  <% post.recent_comment.each do |comment| %>
    <p class='comment'><%= comment.user.Name %> : <%= comment.Text%></p>
  <% end %>
<% else %>
  <p class='comment'>There are no comments <em>yet!</em></p>
<% end %>