<div class='user-post'>
  <h4 class='post-title'><%= post.Title%> </h4>
  <p class='post-text'>
    <%= post.Text %>.
  </p>
  <p class='statics'>Comments: <span><%= post.comments.count %></span>, Likes: <span><%= post.likes.count %></span></p>
</div>