<div class='user-info'>
  <div class='image-container'>
    <img src= <%= user.Photo %> alt= '<%= user.Name + ' avatar'%>'/>
  </div>
  <div class='user-content'>
    <h2><%= user.Name %></h2>
    <p>Number of posts: <%= user.posts.count%></p>
  </div>
</div>