<section class='post-container'>
  <%= render partial: 'portials/user', locals: {user: @user} %>
  <% @posts.each do |post| %>
    <%= render partial: 'portials/post', locals: {post: post} %>
    <div class='comments_container user-post'>
      <%= render partial: 'portials/comment', locals: {post: post} %>
    </div>
  <% end %>
  <div class='btn-container'>
    <a class= "posts-btn" href='' >Pagination</a>
  </div>
</section>